window {
	margin: 0px;
	border: 2px solid #89b4fa;
	background-color: #1e1e2e;
	border-radius: 10px;
}

#input {
	margin: 5px;
	border: none;
	color: #cdd6f4;
	background-color: #313244;
	border-radius: 5px;
}

#inner-box {
	margin: 5px;
	border: none;
	color: #cdd6f4;
	background-color: #313244;
	border-radius: 5px;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #1e1e2e;
}

#scroll {
	margin: 5px;
	border: none;
	color: #cdd6f4;
}

#text {
	margin: 5px;
	border: none;
	color: #cdd6f4;
}

#entry:selected {
	background-color: #585b70;
	border-radius: 5px;
}

